
  
@media screen and (max-width: 991px) {
.modal-open {
  overflow: hidden;
}
  
 .nav__menu-flex {
   overflow-y: auto;
  }
  
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1076;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0;
  pointer-events: auto;
}
 /* When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
    transform: $modal-fade-transform;
  } 
  .modal.show & {
    transform: $modal-show-transform;
  } 

  // When trying to close, animate focus to scale
  .modal.modal-static & {
    transform: $modal-scale-transform;
  } */

.modal-dialog-scrollable {
  height: 90%;
}

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
  }

@media screen and (min-width: 992px) { 
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1076;
  display: block !important;
  width: 100%;
  height: auto;
  overflow-x: visible;
  overflow-y: visible;
  outline: 0;
  }
}
