/* these styles below are from bootstrap. To reproduce, open bootstrap-vscode on local, and edit custom.scss as needed, and recompile to generate updated css file */
/*
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 100%; /* changed to 100% from 500px */
/*
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
} 

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
} */
/*
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
} */

/*
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02); 
}

.modal-dialog-scrollable {
   height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

*/
/*
.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
} */
/*
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
} */
/*
.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer > * {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
} */
/*
@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
  .modal-sm {
    --bs-modal-width: 300px;
  }
} */
/* @media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    --bs-modal-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header,
.modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header,
.modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header,
.modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header,
.modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header,
.modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
}
*/
/*
.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}
*/
/*# sourceMappingURL=custom.css.map */

/*
                             \\\\\\\
                            \\\\\\\\\\\\
                          \\\\\\\\\\\\\\\
  -----------,-|           |C>   // )\\\\|
           ,','|          /    || ,'/////|
---------,','  |         (,    ||   /////
         ||    |          \\  ||||//''''|
         ||    |           |||||||     _|
         ||    |______      `````\____/ \
         ||    |     ,|         _/_____/ \
         ||  ,'    ,' |        /          |
         ||,'    ,'   |       |         \  |
_________|/    ,'     |      /           | |
_____________,'      ,',_____|      |    | |
             |     ,','      |      |    | |
             |   ,','    ____|_____/    /  |
             | ,','  __/ |             /   |
_____________|','   ///_/-------------/   |
              |===========,'
These are work in progress stylesss */
.fade {
  transition: opacity .2s ease-out;
  opacity: .5;
}

/* .modal.fade .modal-dialog {
    transition: transform 2s ease-out;
    transform: translate(0,500px);
} */

.show {
  opacity: 1;
}

.modal.show .modal-dialog {
  opacity: 1;
}

.modal.fade {
  transition: opacity .1s ease-out;
  opacity: .5;
}

.modal.show {
  opacity: 1;
}

/* .fade:not(.show) {
    opacity: .5;
} */

.modal-backdrop.fade.show {
  /* display:hidden; */
  z-index: -1000;
}

/* div.modal-backdrop.fade.show {
  display:hidden;
} */


.modal-backdrop.fade,
.modal-backdrop.show,
.modal-backdrop {
  transition: .1s;
}


.modal-backdrop {
  --bs-backdrop-zindex: -1000;
  --bs-backdrop-bg: red;
  --bs-backdrop-opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  display: block;
}



.modal-dialog {
  position: relative;
  width: auto;
  margin: 0;
  pointer-events: auto;
}

/*
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
} */
/* make sure to update this one */

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  opacity: 1;
}


/*

                                               .--.
                                               `.  \
                                                 \  \
                                                  .  \
                                                  :   .
                                                  |    .
                                                  |    :
                                                  |    |
  ..._  ___                                       |    |
 `."".`''''""--..___                              |    |
 ,-\  \             ""-...__         _____________/    |
 / ` " '                    `""""""""                  .
 \                                                      L
 (>                                                      \
/                                                         \
\_    ___..---.                                            L
  `--'         '.                                           \
                 .                                           \_
                _/`.                                           `.._
             .'     -.                                             `.
            /     __.-Y     /''''''-...___,...--------.._            |
           /   _."    |    /                ' .      \   '---..._    |
          /   /      /    /                _,. '    ,/           |   |
          \_,'     _.'   /              /''     _,-'            _|   |
                  '     /               `-----''               /     |
                  `...-'     dp                                `...-'
                */
/* Mobile break points */

@media screen and (max-width: 991px) {
  .modal-open {
    overflow: hidden;
  }

  .modal-dialog-scrollable,
  .modal-body {
    overflow-y: auto;
  }

  .nav__menu-flex {
    overflow-y: auto;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1076;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0;
    pointer-events: auto;
  }

  .modal-dialog-scrollable {
    height: 98%;
  }

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

/* desktop break points */

@media screen and (min-width: 992px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1076;
    display: block !important;
    width: 100%;
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
    outline: 0;
  }
}

/* styles added later */
/*.fade:not(.modal-backdrop) {
   opacity: 1;
   transition: .1s;
   } */
.modal.fade .modal-dialog {
  transition: opacity .1s ease-out;
  opacity: 1;
}

.modal {
  height: 100%;
  opacity: 1;
  transition: .1s all ease-in;
}

.modal-dialog-scrollable {
  overflow-x: inherit;
}

.modal.fade.show {
  height: 100%;
  opacity: 1;
  transition: all .15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.modal-backdrop {
  opacity: 0;
  width: 0px;
  transition: all 0s ease-in;
  background-color: rgb(0 0 255 / 0%);
}

.modal-backdrop.fade.show {
  opacity: 0;
  transition: all 0s ease-in;
}


.fade:not(.modal-backdrop) {
  opacity: 1;
  height: 0%;
  transition: all .18s cubic-bezier(0.22, 0.61, 0.36, 1);
}

div.modal-backdrop.fade {
  transition: all .05s ease-in 0 !important;
}

.fade {
  transition: all .2s;
}

.aspect-ratio__portrait {
  aspect-ratio: 3.3 / 4;
}

.aspect-ratio__4x3 {
  aspect-ratio: 4 / 3;
}

.aspect-ratio__3x4 {
  aspect-ratio: 3 / 4;
}

.aspect-ratio__3x2 {
  aspect-ratio: 3 / 2;
}

.aspect-ratio__5x3 {
  aspect-ratio: 5 / 3;
}

.aspect-ratio__1x1 {
  aspect-ratio: 1 / 1;
}

.aspect-ratio__4x5 {
  aspect-ratio: 4 / 5;
}

.aspect-ratio__5x4 {
  aspect-ratio: 5 / 4;
}

.aspect-ratio__9x16 {
  aspect-ratio: 9 / 16;
}

.aspect-ratio__16x9 {
  aspect-ratio: 16 / 9;
}

.aspect-ratio__100x185 {
  aspect-ratio: 100 / 185;
}

.aspect-ratio__185x100 {
  aspect-ratio: 185 / 100;
}

.aspect-ratio__235x100 {
  aspect-ratio: 235 / 100;
}

.aspect-ratio__100x235 {
  aspect-ratio: 100 / 235;
}

.f15 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(30%, (1080px - 100vw)*1000, 100%), 1fr));
  grid-gap: 2rem;
}

.grad1 {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)))
}

/* Snippet gets rid of top margin on first element in any rich text*/
.w-richtext>:first-child {
  margin-top: 0;
}

/* Snippet gets rid of bottom margin on last element in any rich text*/
.w-richtext>:last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0;
}

/* Snippet prevents all click and hover interaction with an element */
.clickable-off {
  pointer-events: none;
}

/* Snippet enables all click and hover interaction with an element */
.clickable-on {
  pointer-events: auto;
}

/* Snippet enables you to add class of div-square which creates and maintains a 1:1 dimension of a div.*/
.div-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/*Hide focus outline for main content element*/
main:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* Make sure containers never lose their center alignment*/
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/*Reset buttons, and links styles*/
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

/*Apply "..." after 3 lines of text */
.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/*Apply "..." after 2 lines of text */
.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Apply "..." at 100% width */
/* Added by chris from relume*/

.truncate-width {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Removes native scrollbar */
/* Added by chris from relume*/
.no-scrollbar {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

/* Added by chris from relume*/
.no-scrollbar::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px),
@media screen and (max-width: 767px),
@media screen and (max-width: 479px) {

  .hide,
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}

@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}

.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.spacing-clear {
  padding: 0rem !important;
  margin: 0rem !important;
}

.space-clear {
  padding: 0rem !important;
  margin: 0rem !important;
}

.clear-space {
  padding: 0rem !important;
  margin: 0rem !important;
}

.clear-vertical {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.mt {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.pt {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.mr {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.pr {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.mb {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.pb {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.ml {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.pl {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.mh {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.ph {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.mv {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.pv {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.bold {
  font-weight: bold !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.pad120 {
  padding: 6rem;
  padding: clamp(6rem, 0.3639921722113506rem + 18.786692759295498vw, 12rem) ;
}

.pad100 {
  padding: 5rem;
  padding: clamp(5rem, 0.3033268101761255rem + 15.655577299412915vw, 10rem);
}

.pad90 {
  padding: 4.5rem;
  padding: clamp(4.5rem, 0.27299412915851295rem + 14.090019569471623vw, 9rem);
}

.pad80 {
  padding: 4rem;
  padding: clamp(4rem, 0.2426614481409004rem + 12.524461839530332vw, 8rem);
}

.pad70 {
  padding: 3.5rem;
  padding: clamp(3.5rem, 0.21232876712328785rem + 10.95890410958904vw, 7rem);
}

.pad60 {
  padding: 3rem;
  padding: clamp(3rem, 0.1819960861056753rem + 9.393346379647749vw, 6rem);
}

.pad50 {
  padding: 2.5rem;
  padding: clamp(2.5rem, 0.15166340508806275rem + 7.8277886497064575vw, 5rem);
}

.pad40 {
  padding: 2rem;
  padding: clamp(2rem, 0.1213307240704502rem + 6.262230919765166vw, 4rem);
}

.pad30 {
  padding: 1.5rem;
  padding: clamp(1.5rem, 0.09099804305283765rem + 4.6966731898238745vw, 3rem);
}

.pad20 {
  padding: 1rem;
  padding: clamp(1rem, 0.0606653620352251rem + 3.131115459882583vw, 2rem);
}

.pad10 {
  padding: 0.5rem;
  padding: clamp(0.5rem, 0.03033268101761255rem + 1.5655577299412915vw, 1rem);
}

.pad5 {
  padding: 0.5rem;
}

.pad2 {
  padding: 0.25rem;
}

.pad1 {
  padding: 0.125rem;
}

.pad0 {
  padding: 0rem;
}

.mar120 {
  margin: 6rem;
  margin: clamp(6rem, 0.3639921722113506rem + 18.786692759295498vw, 12rem);
}

.mar100 {
  margin: 5rem;
  margin: clamp(5rem, 0.3033268101761255rem + 15.655577299412915vw, 10rem);
}

.mar90 {
  margin: 4.5rem;
  margin: clamp(4.5rem, 0.27299412915851295rem + 14.090019569471623vw, 9rem);
}

.mar80 {
  margin: 4rem;
  margin: clamp(4rem, 0.2426614481409004rem + 12.524461839530332vw, 8rem);
}

.mar70 {
  margin: 3.5rem;
  margin: clamp(3.5rem, 0.21232876712328785rem + 10.95890410958904vw, 7rem);
}

.mar60 {
  margin: 3rem;
  margin: clamp(3rem, 0.1819960861056753rem + 9.393346379647749vw, 6rem);
}

.mar50 {
  margin: 2.5rem;
  margin: clamp(2.5rem, 0.15166340508806275rem + 7.8277886497064575vw, 5rem);
}

.mar40 {
  margin: 2rem;
  margin: clamp(2rem, 0.1213307240704502rem + 6.262230919765166vw, 4rem);
}

.mar30 {
  margin: 1.5rem;
  margin: clamp(1.5rem, 0.09099804305283765rem + 4.6966731898238745vw, 3rem);
}

.mar20 {
  margin: 1rem;
  margin: clamp(1rem, 0.0606653620352251rem + 3.131115459882583vw, 2rem);
}

.mar10 {
  margin: 0.5rem;
  margin: clamp(0.5rem, 0.03033268101761255rem + 1.5655577299412915vw, 1rem);
}

.mar5 {
  margin: 0.5rem;
}

.mar1 {
  margin: 0.125rem;
}

.mar2 {
  margin: 0.25rem;
}

.mar0 {
  margin: 0rem;
}



















/*

                             \\\\\\\
                            \\\\\\\\\\\\
                          \\\\\\\\\\\\\\\
  -----------,-|           |C>   // )\\\\|
           ,','|          /    || ,'/////|
---------,','  |         (,    ||   /////
         ||    |          \\  ||||//''''|
         ||    |           |||||||     _|
         ||    |______      `````\____/ \
         ||    |     ,|         _/_____/ \
         ||  ,'    ,' |        /          |
         ||,'    ,'   |       |         \  |
_________|/    ,'     |      /           | |
_____________,'      ,',_____|      |    | |
             |     ,','      |      |    | |
             |   ,','    ____|_____/    /  |
             | ,','  __/ |             /   |
_____________|','   ///_/-------------/   |
              |===========,'

                      _____
                              _.--""     ""--._
                          _.-"                 "-._
                        .F                         Y.
                      .F                             Y.
                     /   ..___                 ___..   \
                    F   /   | """""-------""""" |   \   Q
                   F   F    (.-"""-.     .-"""-.)    Q   Q
                  F   F    .'       `. .'       `.    Q   Q
                 J   F    /|    o    | |    o    |\    Q   L
                 |  J     .`.       .' `.       .'.     L  |
                 |  F    ( " `-...-'(   )'-...-' " )    Q  |
                 | |      `.    _.-' '-' `-._    .'      | |
                 Y |        L .'             `. J        | J
                  L|        Q'                 `F        |J
                   Q        |                   |        J
                    L       C                   D       J
                     \      \  ---...____..---  /     _/
                      `L .-' `.               .' `-. P
                       |`L   (|`-.__     __.-'|)   J'|__
                       |  `-._`-..__"""""__..-'_.-'  |  """..
           _..--""-..-' `.    `-..__"""""__..-"    .'\       `-.
        .-"         L     `-._      """""      _.-'   L  *****:::.
      ."            |         ""--.........--""        Q  *****...L
     /"""""--..     F    .-""-.      |\ \               L  ::::::::L
    J  ("  /| J    J   .' _/\_ `.    |_\ \              |   L____...L
    F ._) /"| F    |   |  >..<  |    | |\.'             |            Q
   J-----..._J     F   `.==..==.'    |_|                Q             L
   F              J      '-..-'      | |                `.             Q
  J               F                  |_|                  Q             Q
 /               J                   | |                   L             L
 F           __ J                    |_|                    Q            Q
J           `._\|                    | |                     L            L
F              ""L      .-""-.       |_|       .-""-.         L           Q
Q                |    .'  ..  `.     | |     .'  ..  `.       |.__   __..::
 L               |    |  (  )  |     |_|     |  (  )  |       |':::::::''' |
 Q               Q    `.  ''  .'     | |     `.  ''  .'       |            |
  L               L     `-..-'       |_|       `-..-'         J.-.         |
   Q            _..Q                                         J'  J   .  |  J
    L   __....:::'' \                                        F  J   J  J._J
     L::::''''       Q                                      J  (  _J._,"
      L               `.                                    Q_  `"
      |          ."`.   )                           __...--"" \
      |          Q   "-'                          .'\          L
      Q   L  L    L                              <   Q       ___Q
       L  Q   Q    `.            ""bmw--""        \   L--""""    L
        '_.`.  `.    )            J     Q          Q  Q           |
         J   `-' `-.'.._         |       L          L  L          Q
         F            F `.       F       |          Q  |           L
        L""""""--..._|   F      J        Q           L  Q   ___..--'
        |           F   |       |         L          '---"""       |
        |           |  J        F          L                       Q
        |           |  |       |           Q                        L
        ."""""---.._|  |     `.F            L                       |
         `"""----.___`.|     ._)            Q                       Q
          L          ""       )             |                        L
          |                   Q             L                        L
          Q                    L             |                       |
           L                    L            |                      J
            Q                   Q            F                      F
             L                  .L          J                      J
              Q             _..:' `.        |                      |
               `.    ___...::''.   `.       |                      |
                 `::::::'''    J    :       Q                      F
                .' ___        J    .:        L                    J
               J"""   "".._  .    .:'       .'::...___            |
              J            '/    .:'       J  `.'''::::........:::'Q
             F                 .::'        L    `.     ''''''''    'L
             L               .::'          :.     L__   __..---..-' Q
             :.            .::'            `:.       """             L
              ':.._  _...::''               `::                      |
                `':::::''                     ::.                    |
                                                ::.                  |
             (c) 02/01 by Benjamin M. Weiland     `::.              J
                                                    `'::..__   __..:'
                                                       `'::::::::''



*/



/* These are styles from orginal file*/
/*

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer > * {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
  .modal-sm {
    --bs-modal-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    --bs-modal-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header,
.modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header,
.modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header,
.modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header,
.modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header,
.modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
} */

/* end og modal styles */