
  
@media screen and (max-width: 991px) {
.modal-open {
  overflow: hidden;
}
  
 .nav__menu-flex {
   overflow-y: auto;
  }
  
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1076;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0;
  pointer-events: auto;
}
 /* When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
    transform: $modal-fade-transform;
  } 
  .modal.show & {
    transform: $modal-show-transform;
  } 

  // When trying to close, animate focus to scale
  .modal.modal-static & {
    transform: $modal-scale-transform;
  } */
  
  .modal.fade {
    transition: opacity .15s linear;
    opacity: 1;
   
  }
 
    
 /* transform: translate3d(0vw, 0vh, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transition: opacity .15s linear;
  .fade {
  opacity: 0;
  @include transition($transition-fade);

  &.show {
    opacity: 1;
  } 
  .modal.fade & {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }
  .modal.show & {
    transform: translate(0, 0);
  }
}
  */

.modal-dialog-scrollable {
  height: 90%;
}

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
  }

@media screen and (min-width: 992px) { 
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1076;
  display: block !important;
  width: 100%;
  height: auto;
  overflow-x: visible;
  overflow-y: visible;
  outline: 0;
  }
}
